{% extends "layout.html" %}
{% block content %}
  <h3 style="text-align:center; font-size:4ch;">Edit Photos</h3>
  <div>
      <div class="ef-search">
          <div class="ef-toggle-cont">
              <div class="hp-toggle EASY" id="hp-difficulty-toggle">
                <span class="hp-toggle-text" id="hp-difficulty-toggle-text"> DIFFICULTY </span>
                <input type="hidden" name="difficulty" id="difficulty">
              </div>
              <div class="hp-toggle EASY" id="hp-location-toggle-admin">
                <span class="hp-toggle-text" id="hp-location-toggle-text"> LOCATION </span>
                <input type="hidden" name="location" id="location">
              </div>
          </div>
          <div class="ef-search-results">
          </div>
      </div>
      <!--
      <form action="{{url_for('admin_edit')}}" method="post">
          <div class="ef-image-map">
            <div class="hidden photo-card" id="photo-card">
                <img class="photo-img" id="photo-img" src="">
            </div>
            <div id="upload-map"></div>
          </div>
          <div class="coord-manual-box hidden" id="cm-box">
              <input type="text" name="lat-man" id="lat-man">
              <input type="text" name="lng-man" id="lng-man">
              <button type="button" class="btn admin" id="man-btn">Set Coords</button>
          </div>
          <div class="auto-coord-validation hidden" id="ac-validator">
              <button type="button" id="manual-coords-btn" class="btn admin" onclick="manualCoords()">
                  MANUAL
              </button>
          </div>
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
          <input type="hidden" name="lat" id="lat">
          <input type="hidden" name="lng" id="lng">
          <input type="hidden" name="img_id" id="img_id">
      </form>
      -->
  </div>
{% endblock %}

{% block scripts %}
<script>
    let curr_lat = 52.994881;
    let curr_lng = -2.267080;
    const map = L.map('upload-map', {zoomControl: false}).setView([curr_lat, curr_lng], 16);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    }).addTo(map);

    const lat_man = document.getElementById('lat-man');
    const lng_man = document.getElementById('lng-man');
    const lat = document.getElementById('lat');
    const lng = document.getElementById('lng');


    let marker = null;
    map.on('click', function(e){
        if(marker) map.removeLayer(marker);
        console.log(lat_man, lat);
        lat_man.value = e.latlng.lat;
        lng_man.value = e.latlng.lng;
        lat.value = e.latlng.lat;
        lng.value = e.latlng.lng;
        marker = L.marker([lat.value, lng.value]).addTo(map);
    });

    map.on('layeradd', function(e){
        map.setView([lat.value, lng.value], 18);
    });

    function manualCoords(){
        document.getElementById('cm-box').classList.remove('hidden');
        document.getElementById('ac-validator').classList.add('hidden');
    }


    const photoCard = document.getElementById('photo-card');
    const photoImg = document.getElementById('photo-img');
    const photoUpload = document.getElementById('photo');

    isPhone = (window.innerWidth <= 768);

    function showPhoto(file){
        if (!file){
            photoImg.src = "";
            photoCard.classList.add('hidden');
            photoUpload.classList.remove('hidden');
        }
        
        photoImg.src = URL.createObjectURL(file);
        photoUpload.classList.add('hidden');
        photoCard.classList.remove('hidden');
    }

    document.getElementById('btn-swap-photo').addEventListener('click', () => {
        photoCard.classList.add('hidden');
        photoUpload.classList.remove('hidden');
    });

    photoUpload.addEventListener('change', async (e) => {
        showPhoto(e.target.files[0], e.target);
        const file = e.target.files[0];
        if (!file) return;

        try{
            const metadata = await exifr.gps(file);
            console.log(metadata);
            if (metadata) updateMapLocation(metadata.latitude, metadata.longitude);
            else{
                err = null;
                if (isPhone){
                    err = getPhoneLocation();
                }
                if (!err) return;
                document.getElementById('cm-box').classList.remove('hidden');
            }
        } catch (err){
            flash("Failed to parse photo", "danger");
            console.error("Failed to parse photo: ", err);
        }
    });

    function updateMapLocation(lat_l, lng_l){
        if (marker) map.removeLayer(marker);

        lat.value = lat_l;
        lng.value = lng_l;

        marker = L.marker([lat.value, lng.value]).addTo(map);
        map.setView([lat_l, lng_l]);
        document.getElementById('ac-validator').classList.remove('hidden');
    }

    function getPhoneLocation(){
        if (!("geolocation" in navigator)){
            clientFlash("Couldn't get current location: not available", "warning");
            return true;
        }
        
        navigator.geolocation.getCurrentPosition((pos) => {
            updateMapLocation(pos.coords.latitude, pos.coords.longitude);
        });

        return false;
    }

    
    document.getElementById('man-btn').addEventListener('click', (e)=>{
        e.preventDefault();
        if (marker) map.removeLayer(marker);
        lat.value = lat_man.value;
        lng.value = lng_man.value;
        marker = L.marker([lat.value, lng.value]).addTo(map);
    });

        const difficultyToggle = document.getElementById('hp-difficulty-toggle');
        const locationToggle = document.getElementById('hp-location-toggle-admin');
        const difficultyInput = document.getElementById('difficulty');
        const locationInput = document.getElementById('location');

        const UP = 1;
        const DOWN = -1;

        // Defaults
        let configOpts = { 
            location: {
                KEELE: 1,
                ELSTEAD: 2
            },
            difficulty: {
                EASY: 1,
                MEDIUM: 2,
                HARD: 3
            }
        };

        document.addEventListener("DOMContentLoaded", async () => {
            const opts = await getInfo("{{url_for('get_config_opts')}}")

            if (!opts){
                clientFlash("Network issue. Using Default Options", "warning");
                return;
            }
            
            configOpts.location = opts.location
            configOpts.difficulty = Object.fromEntries(
                Object.entries(opts.difficulty).sort(([,a], [,b]) => a - b)
                );
        });

        let locationScrollPos = -1;
        let difficultyScrollPos = -1;

        locationToggle.addEventListener('wheel', (e) => {
            // DOWN is when the hand scrolls down
            let direction = getDirection(e.wheelDelta);
            if (direction == 0) return;

            locations = Object.keys(configOpts.location);

            let locationChoice;
            [locationScrollPos, locationChoice] = scrollObject(
                document.getElementById('hp-location-toggle-text'),
                direction,
                locationScrollPos,
                locations,
                locations.length
            );
            locationInput.value = configOpts.location[locationChoice];
            searchImages()
        });

        difficultyToggle.addEventListener('wheel', (e) => {
            // DOWN is when the hand scrolls down
            let direction = getDirection(e.wheelDelta);
            if (direction == 0) return;

            difficultys = Object.keys(configOpts.difficulty);

            let difficultyChoice;
            [difficultyScrollPos, difficultyChoice] = scrollObject(
                document.getElementById('hp-difficulty-toggle-text'),
                direction,
                difficultyScrollPos,
                difficultys,
                difficultys.length
            );
            
            difficultyToggle.className = "hp-toggle";
            difficultyToggle.classList.add(difficultyChoice);

            difficultyInput.value = configOpts.difficulty[difficultyChoice];
            searchImages();
        });

        if (isPhone){
            locationToggle.addEventListener('click', (e) => {
                direction = DOWN;

                locations = Object.keys(configOpts.location);

                let locationChoice;
                [locationScrollPos, locationChoice] = scrollObject(
                    document.getElementById('hp-location-toggle-text'),
                    direction,
                    locationScrollPos,
                    locations,
                    locations.length
                );
                locationInput.value = configOpts.location[locationChoice];
                searchImages();
            });

            difficultyToggle.addEventListener('click', (e) => {
                direction = DOWN;
                difficultys = Object.keys(configOpts.difficulty);

                let difficultyChoice;
                [difficultyScrollPos, difficultyChoice] = scrollObject(
                    document.getElementById('hp-difficulty-toggle-text'),
                    direction,
                    difficultyScrollPos,
                    difficultys,
                    difficultys.length
                );
                
                difficultyToggle.className = "hp-toggle";
                difficultyToggle.classList.add(difficultyChoice);

                difficultyInput.value = configOpts.difficulty[difficultyChoice];
                searchImages();
            });
        }

    async function searchImages() {
        const difficultyValue = difficultyInput.value;
        const locationValue = locationInput.value;
        
        const url = "{{url_for('img_search', diff=0, loc=0)}}";
        const searchResults = await get(url.replace('0/0', `${difficultyValue}/${locationValue}`));
        
        if (searchResults == null) {
            clientFlash("Failed to load images", "danger");
            return;
        }
    }

</script>
{% endblock %}


