{% extends "layout.html" %}
{% block content %}
    <section class="admin-suggestions-root">
        <h2>Suggestions</h2>
        <ul class="suggestion-cont">
            {% for suggestion, username, id in suggestions %}
                <li class="suggestion card">
                    <div class="as-suggestion-username"> {{ username }} </div>
                    <div class="suggestion-text"> {{ suggestion }} </div>
                    <form method="post" action="{{url_for('delete_suggestion', next=_this)}}">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="delete-btn card-delete-btn no-grow">DELETE</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}


