{% extends "layout.html" %}
{% block content %}
    <section class="admin-suggestions-root">
        <h2>Suggestions</h2>
        <div class="suggestion-cont">
            {% for suggestion, username in suggestions %}
                <div class="card">
                    <div class="suggestion-username"> {{ username }} </div>
                    <div class="suggestion-content"> {{ suggestion.content }} </div>
                    <div class="suggestion-vote-count"> {{ suggestion.votes }} </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}


