{% extends "layout.html" %}
{% block content %}
    <div class="no-more-photos">
        <h2>You're Done!</h2>
        <div class="nmp-b1">
            <p>Sorry! Looks like you've seen all our photos.</p>
            <p>More coming soon...</p>
        </div>
        <p>Click to reset the photos you've seen (and you score)</p>
        <a class="btn user" href="{{url_for('home')}}">RESET</a>
        {% if not session.user_logged_in %}
        <p class="footer"> Psst. You're not logged in, so your highscore will be deleted... create an account or log in to save it!</p>
        {% endif %}
    </div>
{% endblock %}

