<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>KeeleGuessr</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exifr/dist/lite.umd.min.js"></script>
    <script src="{{url_for('static', filename='js/clientFlash.js')}}"></script>
    <script src="{{url_for('static', filename='js/get.js')}}"></script>
    <script src="{{url_for('static', filename='js/getDirection.js')}}"></script>
    <script src="{{url_for('static', filename='js/scrollObject.js')}}"></script>
  </head>
  <body>
    <nav class="nav">
        {% if session.get('location') and request.path != url_for('play') %}
        <a class="nav-header" href="{{ url_for('play') }}">Keele Guesser</a>
        {% else %}
        <a class="nav-header" href="{{ url_for('home') }}">Keele Guesser</a>
        {% endif %}
        <div class="nav-list">
            {% if session.get('location') and request.path != url_for('home') %}
            <a href="{{ url_for('home') }}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="black"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     role="img"
                     aria-labelledby="title desc"
                     class="icon">
                  <path d="M3 11l9-8 9 8"/>
                  <path d="M5 11v10h14V11"/>
                  <path d="M10 21v-6h4v6"/>
                </svg>

            </a>
            {% endif %}
            {% if session.admin_logged_in %}
                {% if request.path == url_for('admin') %}
                <a href="{{ url_for('admin_suggestions') }}">Suggestions</a>
                <a href="{{ url_for('admin_logout') }}">Logout</a>
                <a href="{{ url_for('edit_photos') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon"
                         viewBox="0 0 48 48" fill="none" stroke="black" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round">

                          <g transform="rotate(-8 12 22)">
                            <rect x="6" y="10" width="16" height="24" rx="2" ry="2" fill="white"/>
                            <circle cx="12" cy="16" r="2"/>
                            <path d="M8 28l6-6 6 6z"/>
                          </g>
                          <g transform="rotate(-2 24 22)">
                            <rect x="12" y="8" width="16" height="26" rx="2" ry="2" fill="white"/>
                            <circle cx="18" cy="14" r="2"/>
                            <path d="M14 30l6-6 6 6z"/>
                          </g>
                          <g transform="rotate(6 34 22)">
                            <rect x="18" y="10" width="16" height="24" rx="2" ry="2" fill="white"/>
                            <circle cx="24" cy="16" r="2"/>
                            <path d="M20 28l6-6 6 6z"/>
                          </g>
                    </svg>
                </a>
                {% elif request.path == url_for('admin_suggestions') %}
                <a href="{{ url_for('admin') }}">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                      <path d="M4 20h16" />
                      <path d="M12 16V4" />
                      <path d="M7 9l5-5 5 5" />
                    </svg>
                </a>
                <a href="{{ url_for('admin_logout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('admin') }}">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                      <path d="M4 20h16" />
                      <path d="M12 16V4" />
                      <path d="M7 9l5-5 5 5" />
                    </svg>
                </a>
                <a href="{{ url_for('admin_suggestions') }}">Suggestions</a>
                <a href="{{ url_for('admin_logout') }}">Logout</a>
                {% endif %}
            {% elif session.user_logged_in %}
                <a href="{{ url_for('account') }}">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="black"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         role="img"
                         aria-labelledby="title desc"
                         class="icon">
                      <circle cx="12" cy="7" r="4"/>
                      <path d="M4 20c0-4 4-6 8-6s8 2 8 6"/>
                    </svg>
                </a>
            {% else %}
                {% if request.path != url_for('user_login') %}
                <a href="{{ url_for('user_login') }}">Login</a> 
                {% endif %}
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
        <div class="flash {{ category }}" id="flash-div">
              <span class="flash-msg"> {{msg}} </span>
              <button class="flash-btn" type="button" onclick="killFlash('flash-div')">⨯</button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="flash hidden" id="flash-client-div">
          <span id="flash-client-msg-span" class="flash-msg">  </span>
          <button class="flash-btn" type="button" onclick="killFlash('flash-client-div')">⨯</button>
    </div>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
<script>

    let isPhone = (window.innerWidth < 768);

    function testMobileWidth(){
        if (window.innerWidth < 500){ // not the same as isPhone
            document.querySelector('.nav-header').innerHTML = "K.G.";
        }else{
            document.querySelector('.nav-header').innerHTML = "Keele Guesser";
        }
        isPhone = (window.innerWidth < 768);
    }
    testMobileWidth();

    window.addEventListener("resize", testMobileWidth);

    flash = document.getElementById('flash-div');

    requestAnimationFrame(()=>{
        if (flash){
            flash.style.right = 3 + "em";
        }
    })

    function killFlash(id){
        flashEl = document.getElementById(id);
        if (!flashEl){
            console.error("Kill Flash called with bad id: ", id);
            return;
        }
        // .3s transition
        flashEl.style.right = `-${flashEl.offsetWidth}px`;

        setTimeout(() => {
            flashEl.classList.add('hidden');
        }, 300);
    }

    window.addEventListener("load", () => {
        if (isPhone){
            document.querySelectorAll('.pc-only')
                .forEach((el) => {
                    el.classList.add('hidden');      
                });
            document.querySelectorAll('.mobile-only')
                .forEach((el) => {
                    el.classList.remove('hidden');
                });
        }else{
            document.querySelectorAll('.pc-only')
            .forEach((el) => {
                el.classList.remove('hidden');
            });

            document.querySelectorAll('.mobile-only')
                .forEach((el) => {
                    el.classList.add('hidden');
                });
        }
    });
</script>
</html>

