<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>KeeleGuessr</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exifr/dist/lite.umd.min.js"></script>
  </head>
  <body>
    <nav class="nav">
        <a class="nav-header" href="{{ url_for('play') }}">Keele Guesser</a>
        <div class="nav-list">
            {% if session.admin_logged_in %}
                <a href="{{ url_for('admin') }}">Admin</a>
                <a href="{{ url_for('admin_logout') }}">Logout</a>
            {% elif session.user_logged_in %}
                <a href="{{ url_for('suggestion') }}">Add Suggestion</a>
                <a href="{{ url_for('user_logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('user_login') }}">Login</a> 
                <a href="{{ url_for('user_create') }}">Create</a>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
        <div class="flash {{ category }}" id="flash-div">
              {% if category == "danger" %}
              <span class="flash-msg" style="color: red;"> {{msg}} </span>
              {% elif category == "warning" %}
              <span class="flash-msg" style="color: darkorange;"> {{msg}} </span>
              {% elif category == "success" %}
              <span class="flash-msg" style="color: green;"> {{msg}} </span>
              {% else %}
              <span class="flash-msg" style="color: lightblue;"> {{msg}} </span>
              {% endif %}
              <button class="flash-btn" type="button" onclick="killFlash()">⨯</button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
  <script>
      flash = document.getElementById('flash-div');
      function killFlash(){
          // .3s transition
          flash.style.right = `-${flash.offsetWidth}px`;
          setTimeout(() => {
              flash.classList.add('hidden');
          }, 300);
      }
  </script>
</html>

