{% extends "layout.html" %}
{% block content %}
<section class="game">
    <div class="scores">
        <span id="curr-score" class="current-score"> {{ session.current_score }} </span>
        <div id="current-streak" class="current-streak hidden"> </div>
    </div>
    <div class="photo">
        {% if session.get('show_all_photos') %}
        <span class="difficulty-text-play"> {{ difficulty }} </span>
        {% endif %}
        <img src="{{ url_for('uploaded_file', filename=photo.filename) }}" alt="Photo isn't available now, please try again later.">
    </div>
    <div class="guess-zone">
        <div id="map"></div>
        <button id="submitGuess">GUESS</button>
        <div class="result-cont">
            <div id="resultArea"></div>
            <a class="btn user hidden" id="next-btn" href="{{url_for('inc_photo_index')}}">NEXT</a>
        </div>
    </div>
</section>
<script>
    const isPhone = (window.innerWidth < 768);
    const photoEl = document.querySelector('.photo');
    photoEl.addEventListener('click', () => {
        if (isPhone){
            photoEl.classList.toggle('fullscreen-picture'); 
            document.getElementById('map').classList.toggle('hidden');
            document.querySelector('.difficulty-text-play').classList.toggle('hidden');
        }
    });

    window.addEventListener('resize', () => {
        isPhone = window.innerWidth < 768;
    });

    window.addEventListener('load', async () => {
        {% if session.current_streak %}
        const currentStreak = {{session.current_streak}};
        {% else %}
        const currentStreak = 0;
        {% endif %}

        const streakColors = {
            0: '#f8fafc',
            1: '#e2e8f0',
            2: '#16a34a',
            3: '#22c55e',
            4: '#84cc16',
            5: '#eab308',
            6: '#f59e0b',
            7: '#f97316',
            8: '#ea580c',
            9: '#dc2626',
            10: '#ef4444',
            11: '#b91c1c',
            12: '#991b1b',
            13: '#7f1d1d',
            14: '#450a0a',
            15: '#1c0505'
        };

        const currentStreakEl = document.getElementById('current-streak');
        const game = document.querySelector('.game');

        let streakElLock = null;
            
        if ((getComputedStyle(currentStreakEl).color != streakColors[0]) && (currentStreak == 0)){
            streakElLock = new Promise(resolve => {
                currentStreakEl.innerHTML = "Streak Lost";
                currentStreakEl.classList.add('streak-lost');
                setTimeout(()=>{
                    currentStreakEl.classList.remove('streak-lost');
                    streakElLock = null;
                    resolve();
                }, 1000);
            });
        }

        if (streakElLock){
            await streakElLock;
        }
        game.style.setProperty('--streak-color', streakColors[currentStreak]);

        if (isPhone){
            currentStreakEl.classList.remove('hidden');
            currentStreakEl.innerHTML = currentStreak;

            setTimeout(() => {
                currentStreakEl.classList.add('hidden');
            }, 500);

            return;
        }

        if (currentStreak){
            currentStreakEl.classList.remove('hidden');
            currentStreakEl.innerHTML = currentStreak;
        }else{
            currentStreakEl.classList.add('hidden');
            currentStreakEl.innerHTML = "";
        }

    });

    const currScore = document.getElementById('curr-score');
    const highscore = document.getElementById('highscore');
    
    {% if session.location_text == "Keele" %}
    const boxTopLeft = L.latLng(53.007968, -2.282653);
    const boxBottomRight = L.latLng(52.988923, -2.252456);
    const startingLocation = L.latLng(52.994881, -2.267080);
    {% elif session.location_text == "Elstead" %}
    const boxTopLeft = L.latLng(51.218211, -0.751114);
    const boxBottomRight = L.latLng(51.140636, -0.649715);
    const startingLocation = L.latLng(51.185065, -0.703607);
    {% elif session.location_text == "Setesdal" %}
    const boxTopLeft = L.latLng(51.007968, -2.282653);
    const boxBottomRight = L.latLng(52.988923, -2.252456);
    const startingLocation = L.latLng(52.994881, -2.267080);
    {% else %}
    clientFlash("You need to have a location to play!", "danger");
    location.href = "{{url_for('home')}}"
    {% endif %}

    const photoId = {{ photo.id }};

    const map = L.map('map', {zoomControl: false, minZoom: 15, maxZoom: 18}).setView(startingLocation, 16).setMaxBounds([
        boxTopLeft,
        boxBottomRight 
    ]);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

    let guessMarker = null;
    let guessLatLng = null;
    const guessZone = document.querySelector('.guess-zone');

    map.on('mouseover', () =>{
        setTimeout(function(){
            map.invalidateSize();
        }, 100);
    });

    map.on('click', function(e){
        if (guessMarker) { 
            map.removeLayer(guessMarker); 
            guessMarker = null; 
        }
        guessMarker = L.marker(e.latlng).addTo(map).bindPopup("Your guess").openPopup();
        guessLatLng = e.latlng;

        guessZone.classList.add('has-guess');
    });

    document.getElementById('submitGuess').addEventListener('click', async () => {
      if (!guessLatLng) { 
        alert('Please click the map to place your guess'); 
        return; 
      }
        // Probably don't question this it took a lot of thought to get
        const payload = { 
            csrf_token: "{{ csrf_token() }}",
            photo_id: photoId, 
            guess_lat: guessLatLng.lat, 
            guess_lng: guessLatLng.lng, 
            box: { 
                topLeftLat: boxTopLeft.lat,
                topLeftLng: boxTopLeft.lng,
                topRightLat: boxTopLeft.lat,     
                topRightLng: boxBottomRight.lng,
                bottomLeftLat: boxBottomRight.lat,
                bottomLeftLng: boxTopLeft.lng,
                bottomRightLat: boxBottomRight.lat,
                bottomRightLng: boxBottomRight.lng
            }
        };
      const resp = await fetch("{{ url_for('guess') }}", {
        method: 'POST',
        headers: {'Content-Type':'application/json'},
        body: JSON.stringify(payload)
      });
      
      const j = await resp.json();
      if (j.error) { 
        alert(j.error); 
        return; 
      }
      
      const trueLatLng = [j.true_lat, j.true_lng];
      L.marker(trueLatLng, {title:'True location'}).addTo(map).bindPopup("Actual location").openPopup();
      map.fitBounds(L.latLngBounds([guessLatLng, trueLatLng]).pad(0.2));
      
      guessZone.classList.remove('has-guess');
      guessZone.classList.add('has-result');
      
      document.getElementById('resultArea').innerHTML =
        `<div>Distance: ${j.distance_m} m — Points: ${j.points}</div>`;

      if (j.points >= 5000){
          updateScore(currScore, j.current_score);
      }

      document.getElementById('next-btn').classList.remove('hidden');
      });

    function updateScore(el, newScore){
        const pivotZ = -20;
        el.style.transform = `translateZ(${pivotZ}px) rotateX(90deg) translateZ(${-pivotZ}px)`;
        setTimeout(() => {
            el.style.transition = 'none';
            el.style.transform = `translateZ(${pivotZ}px) rotateX(270deg) translateZ(${-pivotZ}px)`;
            el.innerHTML = newScore;

            requestAnimationFrame(()=>{
                el.style.transition = 'transform .5s ease';
                el.style.transform = `translateZ(${pivotZ}px) rotateX(0deg) translateZ(${-pivotZ}px)`;
            });
        }, 500); // .5s transition from css
    }

</script>
{% endblock %}

