{% extends "layout.html" %}
{% block content %}
<section class="game">
    <div class="scores">
        <span id = "curr-score" class="current-score"> {{ session.current_score }} </span>
        {% if session.user_logged_in %}
        <span id = "highscore" class="highscore"> {{ session.user_highscore }} </span>
        {% endif %}
    </div>
    <div class="photo">
        {% if session.get('show_all_photos') %}
        <span class="difficulty-text-play"> {{ difficulty }} </span>
        {% endif %}
        <img src="{{ url_for('uploaded_file', filename=photo.filename) }}" alt="Photo isn't available now, please try again later.">
    </div>
    <div class="guess-zone">
        <div id="map"></div>
        <button id="submitGuess">GUESS</button>
        <div class="result-cont">
            <div id="resultArea"></div>
            <a class="btn user hidden" id="next-btn" href="{{url_for('play')}}">NEXT</a>
        </div>
    </div>
</section>
<script>
    photoEl = document.querySelector('.photo');
    photoEl.addEventListener('click', () => {
        if (window.innerWidth < 768){
            photoEl.classList.toggle('fullscreen-picture'); 
            document.getElementById('map').classList.toggle('hidden');
            document.querySelector('.difficulty-text-play').classList.toggle('hidden');
        }
    });

    const currScore = document.getElementById('curr-score');
    const highscore = document.getElementById('highscore');
    
    {% if session.location_text == "Keele" %}
    const boxTopLeft = L.latLng(53.007968, -2.282653);
    const boxBottomRight = L.latLng(52.988923, -2.252456);
    const startingLocation = L.latLng(52.994881, -2.267080);
    {% elif session.location_text == "Elstead" %}
    const boxTopLeft = L.latLng(51.218211, -0.751114);
    const boxBottomRight = L.latLng(51.140636, -0.649715);
    const startingLocation = L.latLng(51.185065, -0.703607);
    {% elif session.location_text == "Setesdal" %}
    const boxTopLeft = L.latLng(51.007968, -2.282653);
    const boxBottomRight = L.latLng(52.988923, -2.252456);
    const startingLocation = L.latLng(52.994881, -2.267080);
    {% else %}
    clientFlash("You need to have a location to play!", "danger");
    location.href = "{{url_for('home')}}"
    {% endif %}

    const photoId = {{ photo.id }};

    const map = L.map('map', {zoomControl: false, minZoom: 15, maxZoom: 18}).setView(startingLocation, 16).setMaxBounds([
        boxTopLeft,
        boxBottomRight 
    ]);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

    let guessMarker = null;
    let guessLatLng = null;
    const guessZone = document.querySelector('.guess-zone');

    map.on('mouseover', () =>{
        setTimeout(function(){
            map.invalidateSize();
        }, 100);
    });

    map.on('click', function(e){
        if (guessMarker) { 
            map.removeLayer(guessMarker); 
            guessMarker = null; 
        }
        guessMarker = L.marker(e.latlng).addTo(map).bindPopup("Your guess").openPopup();
        guessLatLng = e.latlng;

        guessZone.classList.add('has-guess');
    });

    document.getElementById('submitGuess').addEventListener('click', async () => {
      if (!guessLatLng) { 
        alert('Please click the map to place your guess'); 
        return; 
      }
        // Probably don't question this it took a lot of thought to get
        const payload = { 
            photo_id: photoId, 
            guess_lat: guessLatLng.lat, 
            guess_lng: guessLatLng.lng, 
            box: { 
                topLeftLat: boxTopLeft.lat,
                topLeftLng: boxTopLeft.lng,
                topRightLat: boxTopLeft.lat,     
                topRightLng: boxBottomRight.lng,
                bottomLeftLat: boxBottomRight.lat,
                bottomLeftLng: boxTopLeft.lng,
                bottomRightLat: boxBottomRight.lat,
                bottomRightLng: boxBottomRight.lng
            }
        };
      const resp = await fetch("{{ url_for('guess') }}", {
        method: 'POST',
        headers: {'Content-Type':'application/json'},
        body: JSON.stringify(payload)
      });
      
      const j = await resp.json();
      if (j.error) { 
        alert(j.error); 
        return; 
      }
      
      const trueLatLng = [j.true_lat, j.true_lng];
      L.marker(trueLatLng, {title:'True location'}).addTo(map).bindPopup("Actual location").openPopup();
      map.fitBounds(L.latLngBounds([guessLatLng, trueLatLng]).pad(0.2));
      
      guessZone.classList.remove('has-guess');
      guessZone.classList.add('has-result');
      
      document.getElementById('resultArea').innerHTML =
        `<div>Distance: ${j.distance_m} m — Points: ${j.points}</div>`;

      if (j.points >= 5000){
          updateScore(currScore, j.current_score);
          {% if session.user_logged_in %}
            if (j.highscore != 0){
                updateScore(highscore, j.highscore);
            }
          {% endif %}
      }

      document.getElementById('next-btn').classList.remove('hidden');
      });

    function updateScore(el, newScore){
        const pivotZ = -20;
        el.style.transform = `translateZ(${pivotZ}px) rotateX(90deg) translateZ(${-pivotZ}px)`;
        setTimeout(() => {
            el.style.transition = 'none';
            el.style.transform = `translateZ(${pivotZ}px) rotateX(270deg) translateZ(${-pivotZ}px)`;
            el.innerHTML = newScore;

            requestAnimationFrame(()=>{
                el.style.transition = 'transform .5s ease';
                el.style.transform = `translateZ(${pivotZ}px) rotateX(0deg) translateZ(${-pivotZ}px)`;
            });
        }, 500); // .5s transition from css
    }

</script>
{% endblock %}

