{% extends "layout.html" %}
{% block content %}
  <h3 style="text-align:center; font-size:5ch;">Upload Campus Photo</h3>
  
  <div>
    <form class="upload-form" method="post" enctype="multipart/form-data">
      <div>
        <input type="file" name="photo" accept="image/*" required>
        <div id="upload-map"></div>
      </div>
      <div class="coord-manual-box">
          <input type="number" name="lat" id="lat-man">
          <input type="number" name="lng" id="lng-man">
          <button class="set-coords-btn" id="man-btn">Set Coords</button>
      </div>
      <input type="hidden" name="lat" id="lat">
      <input type="hidden" name="lng" id="lng">
      <button class="pu-submit-btn" type="submit" id="form-submit">Upload</button>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    let curr_lat = 52.994881;
    let curr_lng = -2.267080;
    const map = L.map('upload-map', {zoomControl: false}).setView([curr_lat, curr_lng], 16);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    }).addTo(map);

    let lat_man = document.getElementById('lat-man');
    let lng_man = document.getElementById('lng-man');

    let marker = null;
    map.on('click', function(e){
        if(marker) map.removeLayer(marker);
        marker = L.marker(e.latlng).addTo(map);
        lat_man.value = e.latlng.lat;
        lng_man.value = e.latlng.lng;
        curr_lat = e.latlng.lat;
        curr_lng = e.latlng.lng;
    });

    document.getElementById('man-btn').addEventListener('click', (e)=>{
        e.preventDefault();
        if (marker) map.removeLayer(marker);
        curr_lat = lat_man.value;
        curr_lng = lng_man.value;
        map.setView([curr_lat, curr_lng], 18);
        marker = L.marker([curr_lat, curr_lng]).addTo(map);
    });

    document.getElementById('form-submit').addEventListener('click', (e)=>{
        e.preventDefault();
        document.getElementById('lat').value = curr_lat;
        document.getElementById('lng').value = curr_lng;
    });
  </script>
{% endblock %}

