.uf-image-map{
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    .uf-image-map{
        flex-direction: column;
    }
}

.uf-image-map input::file-selector-button{
    font-weight: bold;
    color: var(--font-color-normal);
    background-color: rgb(0, 120, 0);
    border: 2px solid rgb(0, 120, 0);
    border-radius: 1.5em;
    height: 4em;
    width: 8em;
    scale: 0.9;

    transition: all .3s ease;
}

.uf-toggle-cont{
    display: flex;
    gap: 3em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    .uf-toggle-cont{
        flex-direction: column;
    }
}
.uf-image-map input::file-selector-button:hover,
.uf-image-map input::file-selector-button:focus{
    background-color: rgb(0, 80, 0); 
    scale: 1;
    color: var(--font-color-hover);
}

.auto-coord-validation{
    display: flex;
    justify-items: center;
    align-items: center;
}

.upload-form{
    width: 100%;
    max-height: 80svh;
}

.photo-card{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-img{
    height: 500px;
    max-width: 100%;
    display: block;
}

#upload-map{
    width: 500px;
    height: 500px;
}

.coord-manual-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.coord-manual-box input{
    width: 8em;
    height: 3em;
    transition: all 0.3s ease;
    background-color: rgb(20, 20, 20);
    color: var(--font-color-normal);
    border: 1px solid rgb(50, 50, 50);
    border-radius: 1.5em;
    padding-inline: .5em;
}
.coord-manual-box input:hover,
.coord-manual-box input:focus{
    width: 10em;
}

#man-btn{
    width: 6em;
    height: 100%;
}

#pu-submit-btn{
    width: 8em;
    height: 4em;
    font-size: 2ch;
    margin-top: 2em;
}
