.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 3em;
    margin-block: 1em;
}
.nav a:not(:has(svg)){
    text-decoration: none;
    color: var(--font-color-normal);
    transition: all 0.3s ease;
}
.nav a:not(:has(svg)):hover{
    color: var(--font-color-hover);
    scale: 1.01; 
}

.nav-header{
    font-size: 3ch; 
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: var(--font-color-normal);
}

.icon{
    -webkit-filter: invert(95%);
    filter: invert(95%);
    height: 2rem;
    width: 2rem;
    transition: all .3s ease;
}
.icon:hover,
.icon:focus{
    scale: 1.1; 
    -webkit-filter: invert(90%);
    filter: invert(90%);
}

